<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>DevOps项目实施的套路</h2>
			<p>如何在组织中迈开DevOps转型的第一步？谁需要参与？如何组建团队？如何保障团队成员投入足够的精力？如何在最大程度上取得项目的成功？</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>第一阶段：选择合适的价值流作为切入点</h3>
				<p>管理学大师德鲁克说过：“小鱼在小池塘里也能长成大鱼。”通过谨慎地选择DevOps转型的试点项目，我们要在组织的某些业务领域内进行实验、学习并创造价值，但不会给整个组织带来不可预测的后果。</p>
			</li>
			<li class="icon fa-laptop">
				<h3>第二阶段：理解、可视化并运用价值流</h3>
				<p>一旦选取了试点的项目后，要应用DevOps原则和模式进行价值流分析，要深刻理解如何向客户交付价值：做什么工作？谁来做？该采取什么措施能持续改善这个流程？</p>
			</li>
			<li class="icon fa-code">
				<h3>第三阶段：参考康威定律设计组织架构</h3>
				<p>服务架构和组织的设计对项目成果有着巨大的影响。康威定律运用得好，团队就能够安全独立地开发、测试和部署应用，尽可能快地向客户交付价值；而运用得不好，就会产生不良的后果，安全性和敏捷性也会遭到破坏。</p>
			</li>
			<li class="icon fa-headphones">
				<h3>第四阶段：将运维融入开发工作</h3>
				<p>通过将运维能力更好地集成到开发团队中，以市场为导向，创造出更多的业务成果，就能最终提高整体的效率和生产力。</p>
			</li>
		</ul>
	</div>
</section>
