<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>《DevOps实践指南》- 三步工作法</h2>
			<p>在本书的姊妹篇《凤凰项目》里，已经用案例的形式向我们展示了DevOps的三步工作法的实施过程，很多人戏称那本书附录里的工作三步法是此书的干货和亮点。而三步工作法的实施方式是在《DevOps实践之年》本书里通过整本书的篇幅来描述的。本书可以作为一个完整的DevOps项目实施指导方案。</p>
		</header>
		<ul class="icons major">
			<li><span class="icon  fa-long-arrow-right major style1"><span class="label">第一步-流动原则</span></span>
			</li>
			<li><span class="icon fa-undo major style2"><span class="label">第二步-反馈原则</span></span>
			</li>
			<li><span class="icon fa-leanpub major style3"><span class="label">第三步-持续学习与实验原则</span></span>
			</li>
		</ul>
	</div>
</section>
